<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= link_to @company.name, company_path(@company) %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @user.full_name, user_path(@user) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @job.contact %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
