<!DOCTYPE html>
<html>
<head>
  <title>EreJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <% if user_signed_in? %>
        Logged in as <%= current_user.first_name %> <%= current_user.last_name %>. <%= link_to "Log out", destroy_user_session_path, :method => :delete  %>.
      <% else %>
        <%= link_to "Log in", new_user_session_path  %> or  <%= link_to "Sign Up", new_user_registration_path %>.
      <% end %>
    </div>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
